<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../templates/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../templates/syntax.css"/>
	<link rel="stylesheet" type="text/css" href="../templates/user.css"/>

	<meta name="author" content="<%= authors.join(', ') %>" />
	<meta name="subject" content="<%= subject %>" />
	<meta name="keywords" content="<%= keywords %>" />
</head>
<body>
	<div class="frontcover container">
		<div>
			<h1><%= title %></h1>
			<p class="description"><%= subject %></p>
			<p class="authors"><%= authors.to_sentence %></p>
		</div>
	</div>

	<div class="toc">
		<h2 class="no-toc">Content</h2>
		<%= toc %>
	</div>

	<div id="chapters">
		<%= content %>
	</div>

	<div class="imprint container">
		<div>
			<h2><%= title %></h2>
			<p><%= authors.to_sentence %></p>
			<p><%= copyright %></p>
		</div>
	</div>

	<% if changelog %>
		<div class="container changelog">
			<%= changelog %>
		</div>
	<% end %>
</body>
</html>
