<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= language %>" lang="<%= language %>">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/epub.css" />
    <%= highlight_theme %>
  </head>

  <body class="epub">
    <section class="chapter section">
      <%= content %>
    </section>
  </body>
</html>
