<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%= language %>" lang="<%= language %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="styles/epub.css" />
    <title><%= I18n.t(:contents) %></title>
  </head>
  <body class="epub">
    <section>
      <h1><%= I18n.t(:contents) %></h1>
      <%= navigation %>
    </section>
  </body>
</html>

