<!doctype html>
<html lang="<%= language %>">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/html.css" />
    <meta name="author" content="<%= creators.join(', ') %>" />
    <meta name="subject" content="<%= subject %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="date" content="<%= published_at %>" />
    <%= highlight_theme %>
    <style type="text/css">
      :root {
        --accent-color: <%= accent_color %>;
      }

      <%= css_translations %>
    </style>
  </head>

  <body id="top">
    <section class="frontcover">
      <div>
        <div class="logo"><%= image_tag 'kitabu.svg', alt: 'Kitabu' %></div>
        <p class="description"><%= subject %></p>
        <p class="creators"><%= creators.to_sentence %></p>
      </div>
    </section>

    <section class="white-page"></section>

    <section class="table-of-contents">
      <h2><%= I18n.t(:contents) %></h2>
      <div id="toc" class="two-columns">
        <%= toc %>
      </div>
    </section>

    <div class="sections">
      <%= content %>
    </div>

    <section class="white-page"></section>

    <section class="imprint section">
      <div>
        <h2><%= I18n.t(:imprint, default: "Imprint") %></h2>
        <h3><%= title %></h3>
        <p class="description"><%= subject %></p>
        <p class="creators"><%= creators.to_sentence %></p>
        <p class="copyright"><%= copyright %></p>
      </div>
    </section>

    <a href="#" class="go-top"><%= I18n.t(:go_up, default: "Go up") %></a>
  </body>
</html>
