<!doctype html>
<html class="html">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link name="stylesheet" rel="stylesheet" type="text/css" href="styles/html.css" />
    <meta name="author" content="<%= authors.join(', ') %>" />
    <meta name="subject" content="<%= subject %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="date" content="<%= published_at %>" />
    <%= highlight_theme %>
  </head>

  <body>
    <div class="frontcover container">
      <div>
        <div class="logo"><%= image_tag 'kitabu.svg', alt: 'Kitabu' %></div>
        <p class="description"><%= subject %></p>
        <p class="authors"><%= authors.to_sentence %></p>
      </div>
    </div>

    <div class="white-page"></div>

    <div class="table-of-contents">
      <h2 class="no-toc">Contents</h2>
      <div id="toc">
        <%= toc %>
      </div>
    </div>

    <div id="chapters">
      <%= content %>
    </div>

    <% if changelog %>
      <div class="container changelog">
        <%= changelog %>
      </div>
    <% end %>

    <div class="white-page"></div>

    <div class="imprint container">
      <div>
        <h2><%= title %></h2>
        <p class="description"><%= subject %></p>
        <p class="authors"><%= authors.to_sentence %></p>
        <p class="copyright"><%= copyright %></p>
      </div>
    </div>

    <a href="#" class="go-top">⇧</a>
  </body>
</html>
